.container {
    padding: 0 10px;
    display: flex;
    max-width: 1280px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.item:first-child {
    width: 100%;
    flex: 0 1 50%;
}

.item:last-child {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
}

.title {
    margin-bottom: 5%;
    font-weight: 600;
    font-size: 56px;
    line-height: 116%;
    color: #1C1C21;
}

.btn a {
    display: inline-block;
    text-decoration: none;
    height: 64px;
    white-space: nowrap;
    line-height: 64px;
    padding: 0 120px;
    font-weight: 600;
    font-size: 20px;
    background: #FF8B37;
    border-radius: 12px;
    border: none;
    color: white;
    transition: background-color .1s ease-in-out;
}

.btn a:hover {
    background: #FFAC70;
}

.btn a:active {
    background: #E87928;
}

.total {
    font-weight: 600;
    font-size: 32px;
    line-height: 116%;
    color: #1C1C21;
    opacity: 0.5;
}

@media (max-width: 992px) {
    .title {
        font-size: 46px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .item:last-child {
        align-items: center;
    }

    .title {
        margin: 40px 0;
        font-size: 32px;
        text-align: center;
    }

    .btn a {
        height: 48px;
        line-height: 48px;
        font-size: 14px;
    }
}


